# Usage:
#    debug=Number -- set debug value
#    client_forward_mode=Number -- set client forward mode value
#    add [ip]:[port]-[e/o] -- add one server
#    delete [ip]:[port]-[e/o] -- delete one server
#    clean -- remove all existing server(s)
#    clear_dst -- remove all existing target dst(s)
#
# Info:
#    server_seed=0
#    debug=0
#    client_forward_mode=1
#
# Reload cmd:

clean
debug=0
client_forward_mode=1

add 159.203.236.52:0-e
add 108.61.201.222:0-e
